apiVersion: kubeadm.k8s.io/v1beta4
kind: JoinConfiguration

discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ api_fqdn }}:{{ api_port }}"
    token: "{{ worker_kubeadm_join_token }}"
    caCertHashes:
      - "{{ worker_kubeadm_ca_cert_hash }}"

nodeRegistration:
  name: "{{ inventory_hostname }}"
  criSocket: "{{ cri_socket }}"
  kubeletExtraArgs:
    - name: node-ip
      value: "{{ k8s_node_ip }}"
